.error{
    color: white;
    background-color: tomato;
    border-radius: 15px;
    padding: 1rem;
}

.exito{
    color: white;
    background-color: yellowgreen;
    border-radius: 15px;
    padding: 1rem;
}

body{
    background-color:rgb(224, 224, 224) ;
}

.cont-form{
background-color: rgb(151, 89, 151);
color:white;
padding: 1rem;
height: 15rem;
border-radius: 10px;
}

.head-Table{
    background-color:rgb(151, 89, 151) ;
    color: white;
}
